{
  "presets": ["@babel/preset-env"],
  "sourceRoot": ".",
  "plugins": [

    "@babel/plugin-proposal-class-properties",

    ["@babel/plugin-transform-runtime",
    {
      "regenerator": true
    }
  ],["dotenv-import", {
      "moduleName": "@env",
      "path": ".env",
      "blacklist": null,
      "whitelist": null,
      "safe": false,
      "allowUndefined": false
    }]

  ]
}